version: "3"
services: 
  web:
    build: .
    ports: 
      - "80:80"
      - "443:443"
    volumes: 
      - ./:/app:Z
    links: 
      - database
    environment: 
      DB_HOSTNAME: database
      DB_NAME: deotrans
      DB_USERNAME: deotrans
      DB_PASSWORD: D30tr4n5
      OAUTH2_STRING_PASSWORD: "onk+R7RFdKAkoQKUpZpvrCxMoZJOwIEdOInCHLmibSo="
    user: "${UID}:${GID}"

  database:
    image: postgres
    ports: 
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment: 
      POSTGRES_DB: deotrans
      POSTGRES_USER: deotrans
      POSTGRES_PASSWORD: D30tr4n5